In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Insurance_Data.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=1)

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [15]:
scy=StandardScaler()
y_train=scy.fit_transform(y_train)
y_test=scy.fit_transform(y_test)

In [16]:
X_train

array([[ 0.79715222, -0.70211414, -0.90400228,  0.97676557, -0.50966434],
       [-1.27108519, -0.70375759, -0.08567913, -1.02378711, -0.50966434],
       [-0.98581107, -0.73333977, -0.90400228,  0.97676557, -0.50966434],
       ...,
       [ 0.86847075,  0.70303946,  0.73264401, -1.02378711,  1.96207567],
       [ 0.0839669 , -1.39072157,  0.73264401, -1.02378711,  1.96207567],
       [ 1.29638193, -0.4506656 , -0.08567913,  0.97676557, -0.50966434]])

In [17]:
from sklearn.svm import SVR
regressor=SVR(kernel='rbf',C=1000)
regressor.fit(X_train,y_train)

C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1000)

In [29]:
regressor.support_

array([  5,   6,   8,  11,  18,  21,  23,  27,  28,  30,  34,  35,  36,
        37,  41,  42,  43,  44,  48,  49,  51,  53,  54,  56,  58,  59,
        60,  61,  62,  65,  66,  71,  72,  75,  76,  78,  79,  82,  84,
        85,  87,  89,  92,  94,  97,  99, 100, 101, 104, 105, 106, 108,
       109, 110, 111, 112, 113, 114, 117, 125, 126, 127, 131, 132, 133,
       135, 137, 140, 141, 142, 143, 145, 147, 150, 151, 156, 157, 162,
       163, 164, 165, 166, 167, 169, 174, 175, 177, 179, 180, 181, 182,
       184, 185, 187, 189, 191, 192, 193, 205, 206, 207, 212, 214, 219,
       220, 222, 223, 224, 228, 235, 238, 240, 241, 242, 243, 244, 246,
       247, 253, 254, 255, 257, 260, 266, 270, 271, 274, 276, 277, 278,
       280, 282, 285, 287, 289, 291, 294, 295, 297, 300, 301, 302, 305,
       306, 307, 309, 311, 312, 317, 319, 321, 323, 324, 325, 327, 332,
       334, 336, 337, 341, 345, 346, 350, 352, 358, 362, 363, 365, 367,
       371, 372, 373, 374, 376, 380, 381, 382, 385, 386, 388, 396, 399,
       400, 404, 406, 411, 412, 413, 415, 417, 420, 421, 427, 428, 429,
       430, 433, 435, 439, 440, 441, 442, 445, 447, 450, 452, 453, 457,
       459, 462, 463, 466, 468, 469, 470, 471, 474, 476, 477, 479, 481,
       484, 488, 492, 493, 494, 496, 498, 502, 504, 512, 513, 515, 517,
       520, 521, 525, 526, 527, 528, 529, 531, 534, 538, 540, 541, 542,
       543, 544, 545, 547, 554, 555, 558, 559, 562, 563, 564, 565, 566,
       570, 571, 572, 577, 585, 592, 594, 599, 601, 605, 607, 608, 611,
       614, 617, 619, 623, 624, 625, 626, 629, 631, 633, 638, 639, 641,
       643, 644, 645, 649, 651, 652, 653, 654, 655, 656, 657, 658, 661,
       662, 666, 667, 668, 669, 672, 674, 676, 677, 678, 681, 684, 685,
       689, 692, 697, 698, 699, 701, 702, 704, 706, 708, 709, 710, 711,
       715, 716, 719, 725, 726, 727, 729, 732, 736, 738, 742, 743, 746,
       752, 754, 757, 758, 766, 767, 769, 773, 774, 775, 781, 782, 787,
       790, 791, 792, 793, 794, 796, 801, 803, 804, 805, 809, 818, 823,
       826, 828, 829, 830, 833, 834, 842, 849, 850, 851, 853, 857, 859,
       860, 861, 862, 863, 865, 868, 870, 876, 881, 883, 885, 886, 888,
       891, 893, 895, 897, 898, 900, 903, 906, 909, 914, 915, 916, 918,
       919, 921, 922, 924, 928, 930, 933, 934, 935])

In [30]:
regressor.n_support_

array([412])

In [28]:
regressor.intercept_

array([0.37541239])

In [20]:
y_pred=regressor.predict(X_test)

In [21]:
from sklearn.metrics import r2_score
r_score=r2_score(y_pred,y_test)

In [22]:
r_score

0.7649576583668436

In [23]:
import pickle
filename="finalised_model_svr.sav"

In [25]:
pickle.dump(regressor,open(filename,'wb'))

In [26]:
preinput=sc.transform([[32,43,2,1,1]])

C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [27]:
preinput

array([[-0.48658135,  2.02437687,  0.73264401,  0.97676557,  1.96207567]])

In [31]:
loaded_model=pickle.load(open("finalised_model_svr.sav",'rb'))
result=loaded_model.predict(preinput)

In [33]:
result

array([3.00967288])

In [34]:
preoutput=scy.inverse_transform([result])

In [35]:
preoutput

array([[49084.40312716]])